<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.kumulos.android.shoutem">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application>
        <!-- Kumulos FCM handler -->
        <service android:name="com.kumulos.android.FirebaseMessagingService" android:exported="false">
            <intent-filter android:priority="100">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".LocationReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.kumulos.android.shoutem.LocationReceiver.PROCESS_UPDATE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
